    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="play-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Play Murder Island</h2>
                    <p>Klick the button below and start playing Murder Island for free!</p>
                    <a href="https://www.roblox.com/games/10878161515/Murder-Island-Alpha#!/game-instances" class="btn btn-default btn-lg">Play here</a>
                </div>
            </div>
        </div>
    </section>
